:root {
    --primary: #2E7D32;
    --secondary: #546E7A;
    --success: #4CAF50;
    --info: #1976D2;
    --warning: #FFA000;
    --danger: #D32F2F;
    --background: #F5F7F8;
    --on-background: #1a1c1e;
    --surface: #ffffff;
    --on-surface: #ffffff;
    --outline-border: #dde2e4;
    --font-color-bg:#616161;
    --sidebar-active: #c8e6c9;
    --secondary-2:#cfd8dc;
    --color-secondary-2:#29434e;
}

[class*="sidebar-dark-"]{
    background-color: var(--background);
    color: var(--font-color-bg);
}
a,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:active,
.navbar-light .navbar-nav .nav-link{
    color: var(--primary) !important;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link, 
[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus 
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus{
    color: var(--primary) !important;
}

[class*="sidebar-dark"] .brand-link, 
[class*="sidebar-dark"] .brand-link .pushmenu,
[class*="sidebar-dark-"] .sidebar a,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link{
    color: var(--font-color-bg) !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active{
    background-color: var(--sidebar-active);
    color: var(--primary);
}

.dataTables_empty {
    text-align: center !important;
}

.btn-primary{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--surface) !important;
}

.btn-secondary{
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: var(--color-secondary-2) !important;
}

.btn-danger{
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
    color: var(--surface) !important;
}

.table thead th{
    vertical-align: middle;
}

.table-bordered thead th{
    background-color: var(--primary);
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: none;
}

.table-striped tbody tr:nth-of-type(even){
    background-color: var(--sidebar-active);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: var(--sidebar-active);
    border-color: var(--sidebar-active);
    color: var(--primary);
    font-weight: bold;
}

.user-pic img.border.absent{
    border: 3px solid var(--danger) !important;
}
.user-pic img.border.late{
    border: 3px solid var(--warning) !important;
}
.user-pic img.border.sick{
    border: 3px solid var(--info) !important;
}
.user-pic img.border.excused{
    border: 3px solid var(--info) !important;
}
.user-pic img.border.present{
    border: 3px solid var(--primary) !important;
}


/* breadcrumb */
.breadcrumb{
    background-color: initial !important;
    padding-bottom: 0;
}
.breadcrumb-item.active{
    color: black;
    font-weight: bold;
}
.breadcrumb-item a{
    color: var(--font-color-bg) !important;
}
/* breadcrumb */

/* legend attendance */
.status-box{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 2px;
}
.student-time .status-box.absent{
    background-color: var(--danger) !important;
}
.student-time .status-box.late{
    background-color: var(--warning) !important;
}
.student-time .status-box.sick{
    background-color: var(--info) !important;
}
.student-time .status-box.excused{
    background-color: var(--info) !important;
}
.student-time .status-box.present{
    background-color: var(--primary) !important;
}
.student-time .status-box.home{
    background-color: var(--primary) !important;
}


/* paging table */
.page-item.active .page-link{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--surface) !important;
}
/* paging table */

/* form */
.form-check input.form-check-input[type=checkbox]{
    height: 20px;
    width: 20px;
    border-radius: 3px;
    -webkit-appearance:none;
    background-color: var(--outline-border);
}
.form-check input.form-check-input[type=checkbox]:checked{
    border-radius: 3px;
    background:url(../img/icon/checked.png) no-repeat;
    background-size: 15px;
    background-position: 35% 3px;
    background-color: var(--sidebar-active);
}
.form-check input.form-check-input[type=radio]{
    height: 20px;
    width: 20px;
    border-radius: 3px;
    accent-color:green;
}
.form-check label.form-check-label{
    margin-top: 3px;
    margin-left: 10px;
}
/* form */